
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegistrationPage</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Style.css" rel="stylesheet" />
</head>
<body>
    <div>
        <p>Put a registration form here </p>
        @Html.ActionLink("Back to Home Page", "Index", "Home") 
    </div>
</body>
</html>
