
@{
    ViewBag.Title = "SnippetAddedSuccessfully";
}

<h2>Snippet Added Successfully</h2>

@Html.ActionLink("Back to my Profile", "Snippet", "Member", null, new { @style = "padding: 5px; color: black;" })

