@{
    ViewBag.Title = "AboutUs";
}  
          
    <div class="text-center">    
            <h3> Our Story</h3>
            <p> Snippets Hub was founded by Ruth Kerr, Sarah Morley and Criag O'Sullivan in August 2016.</p>
            <p> Origianlly set up as a college project it has gone from strength to strength ever since and is now one of the most used code sharing applications.</p>
            <p> Snippets Hub is currently being used by over 200,000 people all over the world.</p>  
        </div>
     <p class="text-center"><img id="award" img src="~/Images/award.jpeg" /></p>

