
@{
    ViewBag.Title = "FrequentlyAskedQuestions";
}


<div class="text-center">
    <h2>FrequentlyAskedQuestions</h2>

    <ul style="list-style-type:none;" id="questions">
        <li>1. Is Snippet Hub free&#63;</li>
        <p>You can register to use Snippet Hub for free. You will be able to create snippets, and view and use other snippets for free.</p>
        <li>2. Are profiles public or private&#63;</li>
        <p>You can choose who can view your snippets by making your profile public or private.</p>
        <li>3. Can I join several groups&#63;</li>
        <p>Yes you can join as many groups as you like. </p>
    </ul>
</div>

