@{
    ViewBag.Title = "Index";
}   


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Welcome</h3>
            <img src="~/Images/home1.png" width="250"/>
            <p> Welcome to Snippet Hub, a completely free code sharing application built by coders for coders. Sign up today to save all your imporatnt code snipepts in one free place.</p>
        </div>
        <div class="col-sm-4">
            <h3>Groups</h3>
            <img src="~/Images/home2.png" width="250"/>
            <p>Snippet Hub allows you to create groups among fellow developers where members can share code snippets. Members can join as many groups as they wish. 
             </p>
        </div>
        <div class="col-sm-4">
            <h3>Personal</h3>
            <img src="~/Images/home3.jpg" width="250" />

            <p> This is a new paragraph </p>
        </div>
    </div>
</div>